.box1 {
  border: 2px solid orangered;
  padding: 20% 20% 20%;
}
.navbar {
  margin: 0 0 3% 0;
}
#footer {
  overflow-x: hidden;
}
.box2 {
  border: 2px solid;
  border-radius: 25px;
  margin: 0 0 7% 0;
}
.img-fluid {
  border-radius: 25px;
}
#image1 {
  border-radius: 18px 18px 0 0;
}
.box3 {
  border: 2px solid;
  padding-bottom: 7px;
  border-radius: 20px;
}
.box4 {
  border: 2px solid;
  padding-bottom: 15px;
  border-radius: 20px;
}
.img-fluid {
  width: 100%;
}
.text1 {
  text-size: ;
}
